<?xml version="1.0"?>
<config>
    <tabs>
		<Carotechs_extensions translate="label" module="smsnotify">
            <label>Carotechs Extensions</label>
            <sort_order>0</sort_order>
		</Carotechs_extensions>
    </tabs>
	<sections>
		<smsnotify translate="label" module="smsnotify">
			<label>Sms Notifications</label>
			<tab>Carotechs_extensions</tab>
			<frontend_type>text</frontend_type>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<api translate="label">
							<label>SMS Gateway URL</label>
							<comment>example: URL?from=XXX&amp;to={{mobile_no}}</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api>
						 <urlmethod translate="label">
                            <label>URL Call Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>smsnotify/dropdown_values</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </urlmethod>
						<message_field translate="label">
							<label>Message field name</label>
							<comment>(ie., msg=your message)</comment>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message_field>
					</fields>
				</general>
				
				
				<orders translate="label">
					<label>Orders</label>
					<frontend_type>text</frontend_type>
					<sort_order>15</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order is made</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Message Template (160 characters)</comment>
							<tooltip>{{firstname}} = First Name</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
						
					</fields>
				</orders>
				<order_hold translate="label">
					<label>Order Hold</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order is placed on hold</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
					
						<message translate="label comment">
							<label>Message</label>
							<comment>Message Template (160 characters)</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</order_hold>
				<order_unhold translate="label">
					<label>Order Unhold</label>
					<frontend_type>text</frontend_type>
					<sort_order>25</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order has been released from holding status</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Message Template (160 characters)</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</order_unhold>
				<order_canceled translate="label">
					<label>Order Canceled</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order has been canceled</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Message Template (160 characters)</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</order_canceled>
				<shipments translate="label">
					<label>Shipments</label>
					<frontend_type>text</frontend_type>
					<sort_order>35</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when the shipment is made</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Message Template (160 characters)</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</shipments>
			</groups>
		</smsnotify>
		
    </sections>
</config>