<?xml version="1.0"?>
<config>
    <tabs>
		<Carotechs_extensions translate="label" module="smsnotify">
            <label>Carotechs Extensions</label>
            <sort_order>0</sort_order>
		</Carotechs_extensions>
    </tabs>
	<sections>
		<smsnotify translate="label" module="smsnotify">
			<label>Sms Notifications</label>
			<tab>Carotechs_extensions</tab>
			<frontend_type>text</frontend_type>
			<sort_order>200</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
					
						
						
						<api translate="label">
							<label>SMS Gateway API URL</label>
							<comment>Include all parameters in the API except message and customer phone number parameters.</comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api>
						 <urlmethod translate="label">
                            <label>URL Call Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>smsnotify/dropdown_values</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </urlmethod>
						
						<paraminfo translate="label, comment">
							<frontend_type>label</frontend_type>
        					<frontend_class>title_label</frontend_class>
							<label>URL Parameters</label>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</paraminfo>
						
						<message_field translate="label">
							<label>Message parameter name</label>
							<comment>(ie., msg=your message)</comment>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message_field>
						
						<to_field translate="label">
							<label>To Number - Parameter Name</label>
							<comment>Make sure that you capture the customer mobile phone number with the valid format during registration 
or check out.</comment>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</to_field>
						
						<configinfo translate="label">
							<frontend_type>label</frontend_type>
							<label>Sample API URL format:</label>
							<comment><![CDATA[http://www.yoursmsgateway.com/send.php?user={{user}}&password={{pass}}&api_id=YOUR_API_ID&to={{phone_number}}&text={{text_message}}<br/><b>Make sure that this URL format matches gateway api url.]]></comment>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</configinfo>	
						
						
						
					</fields>
				</general>
				
				
				<orders translate="label">
					<label>Orders</label>
					<frontend_type>text</frontend_type>
					<sort_order>15</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order is made</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Please enter the message you like to send. Use {{firstname}}  to replace with the Customer's First Name in the Order and {{order_id}} to replace with Order No. in the message.</comment>
							<tooltip>{{firstname}} = First Name</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
						
					</fields>
				</orders>
				<order_hold translate="label">
					<label>Order Hold</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order is placed on hold</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
					
						<message translate="label comment">
							<label>Message</label>
							<comment>Please enter the message you like to send. Use {{firstname}}  to replace with the Customer's First Name in the Order and {{order_id}} to replace with Order No. in the message.</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</order_hold>
				<order_unhold translate="label">
					<label>Order Unhold</label>
					<frontend_type>text</frontend_type>
					<sort_order>25</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order has been released from holding status</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Please enter the message you like to send. Use {{firstname}}  to replace with the Customer's First Name in the Order and {{order_id}} to replace with Order No. in the message.</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</order_unhold>
				<order_canceled translate="label">
					<label>Order Canceled</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when an order has been canceled</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Please enter the message you like to send. Use {{firstname}}  to replace with the Customer's First Name in the Order and {{order_id}} to replace with Order No. in the message.</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</order_canceled>
				<shipments translate="label">
					<label>Shipments</label>
					<frontend_type>text</frontend_type>
					<sort_order>35</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<comment>Automatically sends a text message to the customer when the shipment is made</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</enabled>
						
						<message translate="label comment">
							<label>Message</label>
							<comment>Please enter the message you like to send. Use {{firstname}}  to replace with the Customer's First Name in the Order and {{order_id}} to replace with Order No. in the message.</comment>
							<tooltip>{{firstname}} = First Name {{order_id}} = Order Id</tooltip>
							<validate>required-entry</validate>
							<frontend_type>textarea</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</message>
					</fields>
				</shipments>
			</groups>
		</smsnotify>
		
    </sections>
</config>